<!DOCTYPE html>
<html>

<head>
    <title>Login and Sign Up</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet" />
</head>

<body>
    <div class="login">
        <div id="loginFormContainer">
            <div class="loginBox">
                <h1>Enter Logging info below : </h1>
                <br>
            </div>
            <div class="loginBox">
                <form class="loginForm" action="/logginCredentials" method="post">
                    <h2>Enter User Name : </h2>

                    <input type="text" placeholder="User name " name="UserName" required>
                    <h2>Enter Pass Word : </h2>
                    <input type="text" placeholder="Password : " name="Password" required>
                    <br><br>
                    <div id="item">
                        <input type="submit" value="Submit">
                    </div>
                    <!-- <input type="submit" value="Submit"> -->
                </form>
            </div>
            <br>
            <hr>
            <br>
            <div class="loginBox">
                <button class="loginBtn" onclick="newUserPage()">Sign-Up</button>
            </div>
        </div>


    </div>


    <div class="signUpFormContainer">
        <h1>SignUp</h1>
        <form action="/signUp" method="post">
            <h2>Enter User Name : </h2>

            <input type="text" placeholder="User name" name="UserName" required>
            <h2>Enter Pass Word : </h2>
            <input type="text" placeholder="Password : " name="Password" required>
            <br>
            <br>
            <input type="text" placeholder="ReEnter Password : " name="PasswordRenter" required>
            <br>
            <br>
            <div id="item">
                <input type="submit" value="Submit">
            </div>
        </form>

    </div>

    <!-- 
    <script src="index.js"></script> -->
    <footer> 🎲 MG 🎲 </footer>
    <script src="index.js"></script>
</body>

</html>