<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster"
            rel="stylesheet"
            />
    </head>
    <body>
        <div class="login">
            <div class = "loginBox box1">
                <h1>Enter Logging info below : </h1>
            </div>
            <div class="loginBox box1">
                <form  class="loginForm" action="/logginCredentials" method="post">
                    <h2>Enter User Name : </h2>
                    <input type="text" placeholder = "User name " name="UserName" required>
                     <h2>Enter Pass Word : </h2>
                    <input type="text" placeholder = "Password : " name="Password" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div> 
                <button class ="loginBtn" onclick="newUserPage()">Create new Account</button>     
            </div>
            
        </div>
        <div class ="signUpPage">
            <h1 class ="signUpPage">Fill Up the form below to signUp</h1>
            <form  class ="signUpForm" action="/signUp" method="post">
                    <h2>Enter User Name : </h2>
                    <input type="text" placeholder = "User name " name="UserName" required>
                     <h2>Enter Pass Word : </h2>
                    <input type="text" placeholder = "Password : " name="Password" required>
                    <input type="text" placeholder = "ReEnter Password : " name="PasswordRenter" required>
                    <input type="submit" value="Submit">
                </form>
            
            
        </div>
         <script src="index.js"></script>
      
       
    </body>
</html>
